\:root
  --footer-text-color: #000

$primary-project-color: #756E64
$secondary-project-color: white

$selections-color: red

$inactive-button-color: #756E64
$inactive-button-font-color: black
$active-button-font-color: white
$inactive-button-font-color: $selections-color
$border-radius: 4px

$border-style: solid 1px grey
$border-style-selected: solid $selections-color 4px

%login-input-size
  height: 65px
  width: 470px