<div class="login-shell">
  <div class="login-labels-shell">
    <label class="login-labels-shell__label">
      <input type="text" class="login-input name_input">
    </label>
    <label class="login-labels-shell__label">
      <input type="email" class="login-input email_input">
    </label>
    <label class="login-labels-shell__label">
      <input type="password" class="login-input password_input">
    </label>
    <label class="login-labels-shell__label">
      <input type="password" class="login-input password_repeat_input">
    </label>
  </div>
</div>

