<div class="login-shell">
  <div class="login-labels-shell">
    <label class="login-labels-shell__label">
      <input type="text" class="login-input name_input" placeholder="name">
    </label>
    <label class="login-labels-shell__label">
      <input type="email" class="login-input email_input" placeholder="e-mail">
    </label>
    <label class="login-labels-shell__label">
      <input type="password" class="login-input password_input" placeholder="password">
    </label>
    <label class="login-labels-shell__label">
      <input type="password" class="login-input password_repeat_input" placeholder="repeat password">
    </label>
  </div>
</div>

