<div class="statistics-page">
  <div class="day-statistics">
    <h2 class="day-statistics__title">Статистика за день</h2>
    <div class="game-statistics">
      <div class="game-statistics__check-box">
      </div>
      <div class="game-statistics__results">
        <ul class="game-statistics">
          <li class="game-statistics-li">Новых слов:<span class="game-new-words"></span></li>
          <li class="game-statistics-li">Новых слов:<span class="game-percent"></span></li>
          <li class="game-statistics-li">Новых слов:<span class="game-series"></span></li>
        </ul>
      </div>
    </div>
    <ul class="general-statistics">
      <li class="day-statistics__li">Новых слов: <span class="new-words"> 0</span></li>
      <li class="day-statistics__li">Изучено: <span class="learned"> 0</span></li>
      <li class="day-statistics__li">Процент правильных ответов: <span class="rights"> 0</span></li>
    </ul>
  </div>
  <div class="global-statistics">
    <div class="chart-percent"></div>
    <div class="chart-learned"></div>
  </div>


</div>
