<div class="statistics-page">
  <div class="day-statistics">
    <h2 class="day-statistics__title">Статистика за день</h2>
    <div class="game-statistics">
      <div class="game-statistics__check-box">
      </div>
      <div class="game-statistics__results"></div>
    </div>
    <ul class="general-statistics">
      <li class="day-statistics__li">Новых слов: <span class="new-words"></span></li>
      <li class="day-statistics__li">Изучено: <span class="learned"></span></li>
      <li class="day-statistics__li">Процент правильных ответов: <span class="rights"></span></li>
    </ul>
  </div>
  <div class="global-statistics">
    <div class="chart-percent"></div>
    <div class="chart-learned"></div>
  </div>


</div>
