<div class="statistics-page">
  <div class="day-statistics">
    <h3 class="day-statistics__global-title">Статистика за день</h3>
    <div class="day-statistics__box">
      <h4 class="day-statistics__title">Статистика по играм</h4>
      <div class="game-statistics__box">

        <div class="game-statistics__check-box">
          <label class="checkbox-label label_audio-challenge">
            <input type="radio" class="game-checkbox radio_audio-challenge" name="game" checked>
            <!--          -->
            Аудиовызов
          </label>
          <label class="checkbox-label">
            <input type="radio" class="game-checkbox radio_sprint" name="game">
            <!--          -->
            Спринт
          </label>
        </div>
        <div class="game-statistics__results">
        </div>
      </div>
    </div>
    <div>
      <h4 class="day-statistics__title">Общая статистика за день</h4>
      <ul class="general-statistics">
        <li class="day-statistics__li">Новых слов: <span class="new-words"> 0</span></li>
        <li class="day-statistics__li">Изучено: <span class="learned"> 0</span></li>
        <li class="day-statistics__li">Процент правильных ответов: <span class="rights"> 0</span></li>
      </ul>
    </div>
  </div>
  <div class="global-statistics">
    <div class="chart-percent"></div>
    <div class="chart-learned"></div>
  </div>


</div>
