.authorization-window {
  width: 550px;
  position: absolute;
  // left: calc(50vw - 275px);
  // top: calc(50vh - 275px);
  left: 50vw;
  top: 50vh;
  transform: translate(-50%,-50%);
  border: solid 1px grey;
  background-color: $secondary-project-color;

  .button-close {
    position: absolute;
    top: -25px;
    right: -25px;
    width: 25px;
    height: 25px;
    line-height: 25px;
    vertical-align: middle;
    text-align: center;
    color: $active-button-font-color;
    font-size: 42px;
    cursor: pointer;

    &:hover {
      color: $selections-color;
    }
  }

  .log-buttons-shell {
    height: 110px;
    width: 100%;
    display: flex;
    flex-flow: row nowrap;

  }

}

.log-buttons-shell__button {
  height: 100%;
  width: 50%;
  padding: 0;
  border: none;
  background: $secondary-project-color;
  border-bottom: $border-style;
  font-size: 1.5rem;

  &:hover {
    font-size: 2rem;
  }

  &:active {
    font-size: 1.5rem;
  }
}

.activeSignButton {
  border-bottom: $border-style-selected;
}

.login-shell {
  height: 550px - 110px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10%;


  .login-labels-shell {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }
}

.login-labels-shell__label {
  width: 100%;
}

.login-input {
  @extend %login-input-size;
  font-size: 1.2rem;
}

.user-window {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 200px;
  width: 400px;
  position: absolute;
  right: 5px;
  top: 5px;
  border: $border-style;
  background-color: $secondary-project-color;
}

.user-window__user-name {
  font-size: 2rem;
}

.error-message {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  background-color: $error-message-background;
  text-align: center;
  padding-top: 40%;

}


@media(max-width: 768px) {
  .authorization-window {
    width: 360px;
  }
  .login-shell {
    height: 300px;
  }
}

@media(max-width: 576px) {
  
  .authorization-window {
    width: 280px;
    .button-close {
      top: 0;
      right: 0;
      color: black;
      border-left: 1px solid black;
      border-bottom: 1px solid black;
      border-radius: 0 0 0 8px;
    }
  }
  .button {
    width: 200px;
  }
}