.general  
  height: 100%
  padding-top: 20px
  padding-bottom: 20px

.general__link-wrap  
  margin-left: auto
  margin-right: auto
  width: 80%
  display: flex
  justify-content: space-around
  flex-wrap: wrap
  gap: 50px 10%

.general__title
  margin: 0
  margin-bottom: 20px
  text-align: center
  color: #fff
  font-size: 28px

.general__item
  width: 20%
  display: flex
  flex-direction: column
  justify-content: end

.general__login button
  max-height: 300px

.general__item button
  background-color: transparent
  border: none

.general__item h4  
  text-align: center
  margin: 0
  color: #fff

@media(max-width: 960px)
  .general__item
    width: 35%
  .general__item:nth-child(3)
    order: 1

@media(max-width: 768px)    
  .general__title
    font-size: 22px