.header
  background-color: #CBBEAE  
  color: var(--footer-text-color)

.header-container  
  padding: 0 20px
  display: flex
  justify-content: space-between
  align-items: center

.menu
  list-style-type: none
  display: flex
  padding: 0

.menu__item
  margin-right: 20px  
  cursor: pointer

.menu__item.active
  font-weight: bold  

.menu__item:last-child
  margin-right: 0  
