.chapters-wrap 
  display: flex
  justify-content: center
  flex-wrap: wrap
  padding-bottom: 10px

.chapter-tab  
  border: none
  border-radius: 0 0 5px 5px
  height: 25px

.chapter1-tab  
  background-color: var(--chapter1-color)
.chapter2-tab  
  background-color: var(--chapter2-color)
.chapter3-tab  
  background-color: var(--chapter3-color)
.chapter4-tab  
  background-color: var(--chapter4-color)
.chapter5-tab  
  background-color: var(--chapter5-color)
.chapter6-tab  
  background-color: var(--chapter6-color)
.chapter7-tab  
  background-color: var(--chapter7-color)

  
.schoolbook-content__title-wrap  
  display: flex
  justify-content: space-between
  align-items: center
  margin-bottom: 10px
  column-gap: 30px

.schoolbook-content__title  
  margin: 10px 0 5px 0

.schoolbook-content__title span
  display: inline-block

.schoolbook-content__buttons-wrap
  display: flex
  flex-wrap: wrap
  gap: 10px 20px
  justify-content: center

.schoolbook-content__btn  
  min-width: fit-content
  height: 25px
  border-radius: 5px
  border: none
  padding-left: 15px
  padding-right: 15px

.button-audiocall, .button-sprint
  background-color: #A5D6A7
  font-weight: bold
  color: #750DD6

.schoolbook-content__page-wrap, .schoolbook-content__word-wrap
  display: flex
  justify-content: center
  flex-wrap: wrap

.schoolbook-content__page-wrap
  gap: 20px
  
.schoolbook-content__word-wrap
  gap: 10px

.schoolbook-content__page
  width: 80px
  height: 100px
  background: #fff
  display: flex
  justify-content: center
  align-items: center
  text-align: center
  cursor: pointer
  border-radius: 3px

.page-explored
  border: 3px solid var(--easy-color)
  position: relative
  &::after
    position: absolute
    bottom: 5px
    content: ''
    width: 20px
    height: 20px
    background: var(--easy-color)
    -webkit-mask-image: url(../assets/svg/checkmark.svg)
    mask-image: url(../assets/svg/checkmark.svg)
    -webkit-mask-size: cover
    mask-size: cover

.page-chapter1
  background-color: var(--chapter1-color)  
.page-chapter2
  background-color: var(--chapter2-color)
.page-chapter3
  background-color: var(--chapter3-color)  
.page-chapter4
  background-color: var(--chapter4-color)
.page-chapter5
  background-color: var(--chapter5-color)  
.page-chapter6
  background-color: var(--chapter6-color)   

.word
  width: 400px
  background-color: var(--wordcard-color)
  border-radius: 10px
  padding: 10px

.word.easy
  border: 3px solid var(--easy-color)
.word.difficult
  border: 3px solid red

.word__wrap1  
  display: flex
  justify-content: space-between
  align-items: center
  padding-right: 10px

.word__buttons
  display: flex
  flex-direction: column

.word__btn
  border: none
  width: 30px
  height: 30px

.word__easybtn
  margin-bottom: 8px
  background: var(--easy-color-unselect)
  -webkit-mask-image: url(../assets/svg/easy.svg)
  mask-image: url(../assets/svg/easy.svg)
  -webkit-mask-size: cover
  mask-size: cover

.word.easy .word__easybtn
  background: var(--easy-color)

.word__difficultbtn
  background: rgba(255,0,0, 0.3)
  -webkit-mask-image: url(../assets/svg/think.svg)
  mask-image: url(../assets/svg/think.svg)
  -webkit-mask-size: cover
  mask-size: cover

.word.difficult .word__difficultbtn
  background: rgba(255,0,0, 1.0)

.word__name
  display: block
  font-size: 24px
  font-weight: bold

.word__translate-wrap  
  display: flex
  align-items: center

.word__translate
  margin-right: 10px
.word__transcription  
  margin-right: 20px

.word__soundbtn
  width: 35px
  height: 35px
  margin: 0
  border: none
  background: url("../assets/svg/sound.svg") center center no-repeat
  background-size: cover

.word__meaning, .word__example
  font-size: 16px
  font-weight: 600
.word__meaning-translate, .word__example-translate
  font-size: 14px
  font-weight: 300

.progress
  width: 250px

.progress__line
  width: 100%

.progress__info
  font-size: 14px
  font-weight: 300
